<div class="form-group col-xs-5">
	<label>Nombre<span class="asteObli">*</span></label>
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Nombre..." data-ng-model="gruposanguineo.nombre" onkeyup="javascript:this.value=this.value.toUpperCase();">
	  <div class="input-group-btn">
	    <button type="button" class="btn btn-danger" data-ng-disabled="gruposanguineo.nombre==''" data-ng-click="gruposanguineo.guardar()">Guardar</button>
	  </div>
	</div>
</div>
<div class="col-xs-12">
	<h4>Listado de Grupos Sanguineo y Factor RH</h4>
</div>
<div class="form-group col-xs-12">
  <label>Filtrar</label>
  <input type="text" class="form-control" placeholder="Filtrar..." data-ng-model="gruposanguineo.filtro" onkeyup="javascript:this.value=this.value.toUpperCase();">
</div>
<div class="form-group col-xs-12 table-responsive">
  <table class="table" style="background-color: #fff">
    <tbody>
      <tr class="tableTr">
        <th style="width: 10px">#</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th style="width: 35px"></th>
        <th style="width: 35px"></th>
      </tr>
      <tr data-ng-repeat="x in gruposanguineo.lista | filter:gruposanguineo.filtro" class="trItem">
	    <td>{{$index + 1}}</td>
	    <td>{{x.nombre}}</td>
	    <td>{{x.estadoNombre}}</td>
	    <td>
	    	<button type="button" class="btn btn-success btnLista" title="Editar" data-ng-click="gruposanguineo.seleccionar(x)" data-toggle="modal" data-target="#modalEditar"><i class="fa fa-edit"></i></button>
	    </td>
	    <td>
	    	<button type="button" class="btn btn-danger btnLista" title="Eliminar" data-ng-click="gruposanguineo.eliminar(x)"><i class="fa fa-trash"></i></button>
	    </td>
	  </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="modalEditar">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Editar Grupo Sanguineo y Factor RH</h4>
			</div>
			<div class="modal-body">
				<label>Nombre<span class="asteObli">*</span></label>
				<input type="text" class="form-control" data-ng-model="gruposanguineo.nombreEditar" onkeyup="javascript:this.value=this.value.toUpperCase();"/>
				<label>Estado<span class="asteObli">*</span></label>
				<select class="form-control" data-ng-model="gruposanguineo.estadoEditar">
					<option value="a">ACTIVO</option>
					<option value="i">INACTIVO</option>
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-ng-disabled="gruposanguineo.nombreEditar==''" data-ng-click="gruposanguineo.editar()">Editar</button>
			</div>
		</div>
  	</div>
</div>

<div class="modal modal-success fade" id="modalBien">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Bien !</h4>
			</div>
			<div class="modal-body">
				<p>{{gruposanguineo.mensaje.mensaje}}</p>
			</div>
		</div>
  	</div>
</div>

<div class="modal modal-danger fade" id="modalError">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Error !</h4>
			</div>
			<div class="modal-body">
				<p>{{gruposanguineo.mensaje.mensaje}}</p>
			</div>
		</div>
  	</div>
</div>