<link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<div data-ng-show="consultarevento.tab == 1">
  <div class="form-group col-md-12">
    <label>Nombre</label>
    <input type="text" class="form-control" placeholder="Nombre..." data-ng-model="consultarevento.nombre" onkeyup="javascript:this.value=this.value.toUpperCase();"/>
  </div>
  <div class="form-group col-md-4">
    <label>De</label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" class="form-control pull-right" id="datepicker" data-ng-model="consultarevento.fechaDe" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group col-md-4">
    <label>Hasta</label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" class="form-control pull-right" id="datepicker2" data-ng-model="consultarevento.fechaHasta" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group col-md-4">
    <label>Estado</label>
    <select class="form-control" data-ng-model="consultarevento.estado">
      <option value="">TODOS</option>
      <option value="c">CREADO</option>
      <option value="e">EJECUTADO</option>
      <option value="r">REALIZADO</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label>Nùmero de Cedula Colaborador</label>
    <input type="text" class="form-control" placeholder="Nùmero de Cedula Colaborador..." data-ng-model="consultarevento.documento" numbers-Only/>
  </div>
  <div class="form-group col-md-8">
    <label>Nombre Colaborador</label>
    <input type="text" class="form-control" placeholder="Nombre Colaborador..." data-ng-model="consultarevento.nombrePersona" onkeyup="javascript:this.value=this.value.toUpperCase();"/>
  </div>
  <div class="form-group col-md-12">
    <button type="button" class="btn btn-success" data-ng-click="consultarevento.consultar()">Consultar</button>
    <button type="button" class="btn btn-danger" data-ng-click="consultarevento.limpiar()">Limpiar</button>
    <div class="divDividirButtons"></div>
  </div>

  <div class="form-group col-md-12 table-responsive">
    <table class="table" style="background-color: #fff">
      <tbody>
        <tr class="tableTr">
          <th style="width: 10px">#</th>
          <th>Nombre</th>
          <th>Fecha Inicio</th>
          <th>Fecha Finalización</th>
          <th>Colaborador</th>
          <th>Estado</th>
        </tr>
        <tr data-ng-repeat="x in consultarevento.lista" class="trItem" data-ng-click="consultarevento.seleccionar(x)">
  	    <td title="{{$index + 1}}">{{$index + 1}}</td>
  	    <td>{{x.nombre}}</td>
        <td>{{x.fechaInicio}}</td>
        <td>{{x.fechaFinalizacion}}</td>
        <td>{{x.documento}} - {{x.colaboradorNombre}}</td>
        <td>{{x.estadoNombre}}</td>
  	  </tr>
      </tbody>
    </table>
  </div>

</div>
<div data-ng-show="consultarevento.tab == 2">
  <div class="form-group col-md-12">
    <button type="button" class="btn btn-success" data-ng-click="consultarevento.atras()">Atras</button><span style="margin-left: 15px;"><strong>ESTADO:</strong> {{consultarevento.seleccionado.estadoNombre}}</span><span style="float: right;"><button type="button" class="btn btn-danger" data-ng-click="consultarevento.eliminar()">Eliminar Evento</button></span>
  </div>
  <div class="form-group col-md-6">
    <label>Nombre<span class="asteObli">*</span></label>
    <input type="text" class="form-control" placeholder="Nombre..." data-ng-model="consultarevento.seleccionado.nombre" onkeyup="javascript:this.value=this.value.toUpperCase();"/>
  </div>
  <div class="form-group col-md-3">
    <label>Fecha Inicio<span class="asteObli">*</span></label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" class="form-control pull-right" id="datepicker3" data-ng-model="consultarevento.seleccionado.fechaInicio" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group col-md-3">
    <label>Fecha Finalización<span class="asteObli">*</span></label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input type="text" class="form-control pull-right" id="datepicker4" data-ng-model="consultarevento.seleccionado.fechaFinalizacion" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label>Descripción</label>
    <textarea class="form-control" placeholder="Descripción..." data-ng-model="consultarevento.seleccionado.descripcion" onkeyup="javascript:this.value=this.value.toUpperCase();"></textarea>
  </div>
  <div class="form-group col-md-12">
    <label>Colaborador<span class="asteObli">*</span></label>
    <input type="text" class="form-control" placeholder="Colaborador..." data-ng-model="consultarevento.seleccionado.colaboradorNombre" readonly="readonly" style="background-color: #fff" />
  </div>
  <div class="form-group col-md-12">
  <button type="button" class="btn btn-success" data-ng-click="consultarevento.editar()">Actualizar</button>
</div>
  <div class="col-md-12">
    <h4>Personal de Apoyo</h4>
  </div>
  <div class="form-group col-md-12 table-responsive">
    <table class="table" style="background-color: #fff">
      <tbody>
        <tr class="tableTr">
          <th style="width: 10px">#</th>
          <th>Persona</th>
          <th>Tipo Personal Apoyo</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
        <tr data-ng-repeat="x in consultarevento.personalApoyoLista" class="trItem">
        <td>{{$index + 1}}</td>
        <td>{{x.persona}}</td>
        <td>{{x.tipoNombre}}</td>
        <td>{{x.estadoNombre}}</td>
        <td>
          <button type="button" class="btn btn-success btnLista" title="Eliminar" data-ng-show="x.estado=='a'" data-ng-click="consultarevento.realizar(x)">REALIZAR</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="modal modal-success fade" id="modalBien">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Bien !</h4>
      </div>
      <div class="modal-body">
        <p>{{consultarevento.mensaje.mensaje}}</p>
      </div>
    </div>
    </div>
</div>

<div class="modal modal-danger fade" id="modalError">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Error !</h4>
      </div>
      <div class="modal-body">
        <p>{{consultarevento.mensaje.mensaje}}</p>
      </div>
    </div>
    </div>
</div>

<div class="modal modal-danger fade" id="modalValidate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Faltan Datos</h4>
      </div>
      <div class="modal-body">
        <p id="validacionTexto"></p>
      </div>
    </div>
    </div>
</div>

<!-- bootstrap datepicker -->
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

<script type="text/javascript">
  $(function () {

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true,
      format: 'yyyy-mm-dd'
    })

    //Date picker
    $('#datepicker2').datepicker({
      autoclose: true,
      format: 'yyyy-mm-dd'
    })

    //Date picker
    $('#datepicker3').datepicker({
      autoclose: true,
      format: 'yyyy-mm-dd'
    })

    //Date picker
    $('#datepicker4').datepicker({
      autoclose: true,
      format: 'yyyy-mm-dd'
    })

  })

</script>