<div class="form-group col-md-4">
	<label>Puesto<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.puesto" data-ng-options="m as m.nombre for m in e24.puestoLista track by m.id"/>
</div>
<div class="form-group col-md-4">
	<label>Mesa<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.mesa" data-ng-options="m as m.nombre for m in e24.mesaLista track by m.id"/>
</div>
<div class="form-group col-md-4">
	<label>Categoria Política<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.categoria" data-ng-options="m as m.nombre for m in e24.categoriaLista" data-ng-change="e24.cargarCandidato()"/>
</div>
<div class="form-group col-md-4">
	<label>Candidato<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.candidato" data-ng-options="m as m.nombre for m in e24.candidatoLista" data-ng-disabled="e24.categoria.id==null"/>
</div>
<div class="form-group col-md-4">
	<label>Votos<span class="asteObli">*</span></label>
	<input type="text" class="form-control" placeholder="Votos..." data-ng-model="e24.votos" numbers-Only/>
</div>
<div class="form-group col-md-12">
	<button type="button" class="btn btn-success" data-ng-disabled="e24.puesto.id == null || e24.mesa.id == null || e24.categoria.id == null || e24.candidato.id == null || e24.votos == ''" data-ng-click="e24.guardar()">Guardar</button>
</div>

<div class="col-md-12">
	<h4>Listado de registros</h4>
</div>
<div class="form-group col-md-4">
	<label>Puesto<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.puestoFiltro" data-ng-options="m as m.nombre for m in e24.puestoLista track by m.id"/>
</div>
<div class="form-group col-md-2">
	<label>Mesa<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.mesaFiltro" data-ng-options="m as m.nombre for m in e24.mesaLista track by m.id"/>
</div>
<div class="form-group col-md-2">
	<label>Categoria Política<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.categoriaFiltro" data-ng-options="m as m.nombre for m in e24.categoriaLista" data-ng-change="e24.cargarCandidatoFiltro()"/>
</div>
<div class="form-group col-md-4">
	<label>Candidato<span class="asteObli">*</span></label>
	<select class="form-control" data-ng-model="e24.candidatoFiltro" data-ng-options="m as m.nombre for m in e24.candidatoListaFiltro" data-ng-disabled="e24.categoriaFiltro.id==null"/>
</div>
<div class="form-group col-md-12">
	<button type="button" class="btn btn-success" data-ng-click="e24.consultar()">Consultar</button>
	<button type="button" class="btn btn-danger" data-ng-click="e24.limpiar()">Limpiar</button>
</div>
<div class="form-group col-md-12" style="font-size:18px">
	<strong>TOTAL REGISTROS:</strong> {{e24.lista.length}}<br>
	<strong>TOTAL VOTOS:</strong> {{e24.totalVotos}}<br>
	<strong>TOTAL MESAS:</strong> {{e24.totalMesas}}
</div>

<div class="form-group col-md-12 table-responsive">
  <table class="table" style="background-color: #fff">
    <tbody>
      <tr class="tableTr">
        <th style="width: 10px">#</th>
        <th>Fecha</th>
        <th>Puesto</th>
        <th>Mesa</th>
        <th>Categoria Política</th>
        <th>Candidato</th>
        <th>Votos</th>
        <th style="width: 35px"></th>
      </tr>
      <tr data-ng-repeat="x in e24.lista | filter:e24.filtro" class="trItem">
	    <td>{{$index + 1}}</td>
	    <td>{{x.fecha}}</td>
	    <td>{{x.puestoNombre}}</td>
	    <td>{{x.mesaNombre}}</td>
	    <td>{{x.categoriaNombre}}</td>
	    <td>{{x.candidatoNombre}}</td>
	    <td>{{x.votos}}</td>
	    <td>
	    	<button type="button" class="btn btn-danger btnLista" title="Eliminar" data-ng-click="e24.eliminar(x)"><i class="fa fa-trash"></i></button>
	    </td>
	  </tr>
    </tbody>
  </table>
</div>

<div class="modal modal-success fade" id="modalBien">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Bien !</h4>
			</div>
			<div class="modal-body">
				<p>{{e24.mensaje.mensaje}}</p>
			</div>
		</div>
  	</div>
</div>

<div class="modal modal-danger fade" id="modalError">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Error !</h4>
			</div>
			<div class="modal-body">
				<p>{{e24.mensaje.mensaje}}</p>
			</div>
		</div>
  	</div>
</div>