<!--<div class="col-md-12" style="text-align: justify; font-size: 15px;">
	<p><strong>LA RENOVACIÓN</strong> es un movimiento político creado por un grupo de ciudadanos y ciudadanas interesados en devolverle la dignidad a la forma de hacer política y en crear condiciones para el buen gobierno; orientado hacia la superación de la pobreza, el impulso a iniciativas productivas generadoras de empleo y desarrollo, la innovación y actualización tecnológica en procesos de desarrollo social y económico, el fortalecimiento de la democracia participativa, la inclusión social y la construcción de paz y convivencia.</p><br>
</div>-->
<div class="col-md-6">
	<div class="info-box bg-green">
		<span class="info-box-icon"><i class="ion ion-stats-bars"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">REGISTROS COMPLETOS</span>
		  <span class="info-box-number">{{home.registrosCompletos}}</span>

		  <div class="progress"> </div>
		  <span class="progress-description">
		        Número de personas con información completa.
		      </span>
		</div>
		<!-- /.info-box-content -->
	</div>
</div>
<div class="col-md-6">
	<div class="info-box bg-yellow">
		<span class="info-box-icon"><i class="ion ion-stats-bars"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">REGISTROS DE SEGUIDORES</span>
		  <span class="info-box-number">{{home.registrosSeguidores}}</span>

		  <div class="progress"></div>
		  <span class="progress-description">
		        Número de personas registradas por el modulo de seguidores.
		      </span>
		</div>
		<!-- /.info-box-content -->
	</div>
</div>
<div class="col-md-6">
	<div class="info-box bg-red">
		<span class="info-box-icon"><i class="ion ion-stats-bars"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">REGISTROS SIN INFORMACIÓN DE UBICACIÓN</span>
		  <span class="info-box-number">{{home.registrosSinUbicacion}}</span>

		  <div class="progress"></div>
		  <span class="progress-description">
		        Número de personas sin informacion de ubiación.
		      </span>
		</div>
		<!-- /.info-box-content -->
	</div>
</div>
<div class="col-md-6">
	<div class="info-box" style="background-color:#2a4848; color:#fff">
		<span class="info-box-icon"><i class="ion ion-stats-bars"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">REGISTROS SIN INFORMACIÓN DEMOGRÁFICA</span>
		  <span class="info-box-number">{{home.registrosSinDemografica}}</span>

		  <div class="progress"></div>
		  <span class="progress-description">
		        Número de personas sin informacion demográfica.
		      </span>
		</div>
		<!-- /.info-box-content -->
	</div>
</div>
<div class="col-md-6">
	<div class="info-box" style="background-color:#39218B; color:#fff">
		<span class="info-box-icon"><i class="ion ion-stats-bars"></i></span>

		<div class="info-box-content">
		  <span class="info-box-text">REGISTROS SIN INFORMACIÓN DE VOTACIÓN</span>
		  <span class="info-box-number">{{home.registrosSinVotacion}}</span>

		  <div class="progress"></div>
		  <span class="progress-description">
		        Número de personas sin informacion de votación.
		      </span>
		</div>
		<!-- /.info-box-content -->
	</div>
</div>