
<div class="form-group col-md-4">
  <label>Nùmero de Cedula</label>
  <input type="text" class="form-control" placeholder="Nùmero de Cedula..." data-ng-model="registroreporte.filtro.documento" numbers-Only>
</div>
<div class="form-group col-md-4">
  <label>Nombre</label>
  <input type="text" class="form-control" placeholder="Nombre..." data-ng-model="registroreporte.filtro.nombre" onkeyup="javascript:this.value=this.value.toUpperCase();">
</div>
<div class="form-group col-md-4">
  <label>Lider</label>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Lider..." data-ng-model="registroreporte.filtro.lider.nombre" readonly="readonly" style="background-color:#fff"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-success btn-flat" data-ng-click="registroreporte.cargarLideres()"><i class="fa fa-fw fa-search"></i></button>
    </span>
  </div>
</div>

<div class="form-group col-md-4">
  <label>Lugar</label>
  <select class="form-control" data-ng-model="registroreporte.filtro.lugar" data-ng-change="registroreporte.seleccionarLugar()">
    <option value="T">Todos</option>
    <option value="D">Por Departamento</option>
    <option value="M">Por Municipio</option>
  </select>
</div>
<div class="form-group col-md-4" data-ng-show="registroreporte.filtro.lugar=='D' || registroreporte.filtro.lugar=='M'">
  <label>Departamento<span class="asteObli">*</span></label>
  <select class="form-control" data-ng-model="registroreporte.filtro.departamento" data-ng-options="m as m.nombre for m in registroreporte.departamentoLista" data-ng-change="registroreporte.cargarMunicipios()"/>
</div>
<div class="form-group col-md-4" data-ng-show="registroreporte.filtro.lugar=='M'">
  <label>Municipio<span class="asteObli">*</span></label>
  <select class="form-control" data-ng-model="registroreporte.filtro.municipio" data-ng-options="m as m.nombre for m in registroreporte.municipioLista" data-ng-disabled="registroreporte.filtro.departamento.id==null"/>
</div>
<div class="form-group col-md-12">
  <button type="button" class="btn btn-success" data-ng-click="registroreporte.consultar()">Consultar</button>
  <button type="button" class="btn btn-danger" data-ng-click="registroreporte.limpiar()">Limpiar</button>
</div>

<div class="form-group col-xs-12 table-responsive">
  <table class="table" style="background-color: #fff">
    <tbody>
      <tr class="tableTr">
        <th style="width: 10px">#</th>
        <th>Número de Cedula</th>
        <th>Nombre(s)</th>
        <th>Apellido(s)</th>
        <th>Ciudad/Municipio</th>
        <th>Lider</th>
      </tr>
      <tr data-ng-repeat="x in registroreporte.lista">
      <td title="{{$index + 1}}">{{$index + 1}}</td>
      <td style="text-decoration: underline; cursor: pointer;"><span data-ng-click="registroreporte.seleccionar(x)">{{x.documento}}</span></td>
      <td>{{x.nombre}}</td>
      <td>{{x.apellido}}</td>
      <td>{{x.lugar}}</td>
      <td>{{x.lider}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="modalEditar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Seleccionar Lider</h4>
      </div>
      <div class="modal-body">
        <div style="max-height: 360px; overflow: scroll;">
        <div class="form-group col-md-12">
          <label>Filtrar</label>
          <input type="text" class="form-control" placeholder="Filtrar..." data-ng-model="filtro" onkeyup="javascript:this.value=this.value.toUpperCase();">
        </div>
        <table class="table" style="background-color: #fff">
        <tbody>
          <tr class="tableTr">
            <th style="width: 10px">#</th>
            <th>Nombre</th>
            <th>Ciudad/Municipio</th>
          </tr>
          <tr data-ng-repeat="x in registroreporte.liderLista | filter:filtro" class="trItem" data-ng-click="registroreporte.seleccionarLider(x)">
          <td>{{$index + 1}}</td>
          <td>{{x.nombre}}</td>
          <td>{{x.municipio}}</td>
          </tr>
        </tbody>
        </table>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="modal modal-success fade" id="modalBien">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Bien !</h4>
      </div>
      <div class="modal-body">
        <p>{{registroreporte.mensaje.mensaje}}</p>
      </div>
    </div>
    </div>
</div>

<div class="modal modal-danger fade" id="modalError">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Error !</h4>
      </div>
      <div class="modal-body">
        <p>{{registroreporte.mensaje.mensaje}}</p>
      </div>
    </div>
    </div>
</div>

